<% if @category.errors.any? %>
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title .text-warning">Errors</h4>
            <p>Please fix any errors outlined below and re-submit your category</p>
            <ul class="list-arrow">
                <% @category.errors.full_messages.each do |msg| %>
                <li>
                    <%= msg %>
                </li>
                <% end%>
            </ul>
        </div>
    </div>
</div>
<% end %>