<% content_for :title, "Home" %>
<!-- ##### Welcome Area Start ##### -->
<section class="welcome_area bg-img background-overlay" style="background-image: url(../assets/product-img/index.jpg);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="hero-content">
          <h6>In stock from February 2019</h6>
          <h3 style ="width:40%; color:white">The Mystery of Japan in Woodblock Prints</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Welcome Area End ##### -->
<!-- ##### Top Catagory Area Start ##### -->
<div class="top_catagory_area section-padding-80 clearfix">
  <div class="container">
    <div class="row justify-content-center">
      <!-- Single Catagory -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(../assets/categories/poster.jpg);">
          <div class="catagory-content">
            <%= link_to "Posters", posters_path%>
          </div>
        </div>
      </div>
      <!-- Single Catagory -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(../assets/categories/illustration.jpg);">
          <div class="catagory-content">
            <%= link_to "Illustrations", illustrations_path%>
          </div>
        </div>
      </div>
      <!-- Single Catagory -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(../assets/categories/woodcut.jpg);">
          <div class="catagory-content">
            <%= link_to "Woodblock Prints", woodblocks_path%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Top Catagory Area End ##### -->
