<h2>About Us</h2>
<div class = "container">
    <div class="row">
    <div class="col-12 col-md-6">
        <h3>Our Mission </h3>
        <p>ChatNoir is dedicated to bringing customers the best selection of posters and art prints in the world.</p>
        <p>Our range of hundreds of thousands of posters and art prints, combined with our framing and mounting services and satisfaction guarantee, make it simple and safe for customers to find a selection that is perfect for their home, apartment, or office.</p>
    </div>
    </div>
    <div class="row">
    <div class="col-12 col-md-6">
        <h3>Our Products and Services</h3>
        <p>Our selection of posters, illustrations and woodblock prints includes entertainment and original artwork, specialty posters, decorative prints and art reproductions. </p>
    </div>
    </div>
</div>