<% content_for :title, "Create new product" %>
<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add Product</h4>
        <p class="card-description">
          Use the form below to add information about the product
        </p>
        <%= form_for [:admin, @product], class: "forms-sample" do |f| %>
        <%= render "admin/products/partials/form", :f => f %>
        <% end %>
      </div>
    </div>
  </div>

  <%= render "admin/products/partials/errors" %>
</div>